*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#logo{
    width: 200px;
    margin-left: 50px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
ul li:not(#book-now-btn, #blogs){
    border-right: 2px solid ;
    font-size: 1.1rem;
    margin-left: 20px;
    padding-right: 20px;
}
ul li a{
    text-decoration: none;
    color: black; 
}
nav{
    display: flex;
}
#book-now-btn{
    border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    background-color: #CB9797;
}
#blogs{
    margin-left: 10px;
}
